{% extends "base_index.html" %}
{% block content %}
<p> 2.4 Пробег   </p>
<p> Тяжелые  заряженные  частицы  взаимодействуют  в основном  с атомными  электронами  и поэтому   </p>
<p> мало  отклоняются  от направления  своего  первоначального  движения . Вследствие  этого , пробег  тяжелой   </p>
<p> частицы  R измеряют  расстоянием  по прямой  от источника  частиц  до точки  их остановки . Обычно   </p>
<p> пробег  измеряется  в единицах  длины  (м, см, мкм) или длины , умноженной  на плотность  (г/см2).   </p>
<p> Длина  пробега  частицы  зависит  от ее заряда , массы , начальной  энергии , а также  от свойств   </p>
<p> среды , в которой  частица  движется . Пробег  увеличивается  с возрастанием  начальной  энергии   </p>
<p> массивные  частицы  обладают  меньшими  скоростями , чем легкие . Медленно  движущиеся  частицы   </p>
<p> взаимодействуют  с атомами  более  эффективно  и быстрее  растрачивают  имеющуюся  у них энергию .  </p>
<p> Пробеги  протонов  в алюминии  приведены  в Табл . 1, а пробеги  альфа -частиц  в разных   </p>
<p> материалах  – в Табл .2.  </p>
<p> Табл .1. Пробеги  протонов  в алюминии   </p>
<p> Энергия протонов ,  </p>
<p> МэВ  1 3 5 10 20 40 100 1000  </p>
<p> Пробег , см 1.3*10-3  7.8*10-3 1.8*10-2 6.2*10-2 2.7*10-1 7.0*10-1 3.6 148  </p>
<p> Пробег , мг/см2 3.45 21 50 170 560 1.9*103 9.8*103 400*103  </p>
<p> Табл . 2. Пробеги  альфа -частиц  в воздухе , биологической  ткани , алюминии .  </p>
<p> Энергия   </p>
<p> -частиц , МэВ  4 6 8 10  </p>
<p> воздух , см 2.5 4.6 7.4 10.6  </p>
<p> Биологическая  ткань , мкм 31 56 96 130  </p>
<p> алюминий , мкм 16 30 48 69  </p>
<p>  Остановимся  несколько  подробнее  на пробеге  α-частиц  в веществе .  </p>
<p>  Заряженная  частица  проходит  в веществе  некоторое  расстояние , прежде  чем она потеряет  всю  </p>
<p> свою  кинетическую  энергию . Численное  значение  проникающей  способности  α-излучения   </p>
<p> соответствует  пробегу  α- частицы . Пробегом  α-частицы  называют  длину  траекторий  (трека ), по которой   </p>
<p> двигается  частица  в веществе  с момента  входа  в вещество  до полной  стабилизации . Величина  пробега   </p>
<p> определяется  удельными  потерями  энергии . Чем больше  плотность  атомных  электронов  и заряд   </p>
<p> частицы , тем выше  эти потери  и тем меньше  пробег  частицы  в веществе .  </p>
<p> Тяжелые  заряженные  частицы , взаимодействующие  в основном  с  </p>
<p> атомными  электронами , мало  отклоняются  от направления  своего   </p>
<p> первоначального  движения  – треки  прямолинейны . Поэтому  пробег   </p>
<p> тяжелой  частицы  измеряют  расстоянием  по прямой  от источника  частиц   </p>
<p> до точки  ее остановки .   </p>
<p> Рис.5. Зависимость  числа  α-частиц  от расстояния  до источника . 1 – число  α- </p>
<p> частиц  на расстоянии  l; 2 - -dN/dl  – число  α- частиц  с пробегом  l; R – средний  пробег  α- </p>
<p> частиц .  </p>
<p>  α- излучение  характеризуется  малой  проникающей  способностью  и  </p>
<p> сильным  ионизирующим  действием . α – частицы , обладающие   </p>
<p> значительно  большой  массой , при столкновениях  с электронами  атомных  оболочек  испытывают  очень   </p>
<p> небольшие  отклонения  от своего  первоначального  направления  и движутся  почти  прямолинейно .  </p>
<p> Пробеги  α – частиц  в веществе  очень  малы . Например , у α – частицы  с энергией  4 МэВ  длина  пробега  в  </p>
<p> воздухе  примерно  2,5 см, в воде  или в мягких  тканях  животных  и человека  – сотые  доли  миллиметра .  </p>
<p>  Распределение  числа  α- частиц  по толщине  слоя  поглощающего  газа представлено  на Рис.5. В  </p>
<p> результате  неоднородности  поглощающего  энергию  α-частиц  вещества , не все α-частицы  с равной   </p>
<p> начальной  энергией  имеют  одинаковый  пробег , поэтому  более  точное  определение  величины  пробега  α- </p>
<p> частиц  производится  дифференцированием  кривой  1, показывающей  распределение  числа   </p>
<p> стабилизировавшихся  α-частиц  по длине  пути . Абсцисса  максимума  дифференциальной  кривой  2 дает  </p>
<p> значение  среднего  пробега  α-частиц  в веществе .   </p>
<p>  Параметр  столкновения  α- частиц  с электронами  имеет  вероятностный  характер  и отсюда   </p>
<p> пробеги  α - частиц  в веществе  имеют  некоторый  разброс . Незначительная  часть  α - частиц  проникает   </p>
<p> дальше  других  от источника .   </p>
<p> Измеряя  пробег  α-частицы  в веществе , например  в воздухе , можно  определить  ее энергию . Средний  пробег   </p>
<p> Rα моноэнергетических  α - частиц  обычно  рассчитывают  по эмпирическим  формулам . В воздухе  при  </p>
<p> нормальных  условиях :   </p>
<p> mEa Rα α *=                   (21)  </p>
<p>  </p>
<div class="create-line"></div>
<div class="page_num"> 1 </div>
<p> где Rα - пробег  в см; Eα - кинетическая  энергия  α - частиц  в Мэв, m – показатель  степени .   </p>
<p> Для α - частиц , испускаемых  естественными  a - излучателями  (4 < Ea < 9 Мэв), a = 0.318 , m = 1.5 . Для  </p>
<p> α - частиц  с более  высокими  энергиями  Eα≤200 (Мэв) a = 0.148 , n = 1.8. Так, α - частицы  с энергиями  Eα  </p>
<p> = 5 Мэв пробегают  в воздухе  расстояние  3.51 см, а с энергией  Eα = 30 Мэв - 68 см. Отношение   </p>
<p> линейных  пробегов  двух  типов  частиц , начинающих  движение  в воздухе  с одинаковыми  скоростями ,  </p>
<p> пропорционально  отношению  удельных  потерь  энергии  частиц :   </p>
<p> 2 </p>
<p> 12 </p>
<p> 21 </p>
<p> 21*⎟⎟ </p>
<p> ⎠⎞ </p>
<p> ⎜⎜ </p>
<p> ⎝⎛=ZZ </p>
<p> mm </p>
<p> RR                       (22)  </p>
<p> где m1 и m2 - это массы  частиц .   </p>
<p>  Часто  вместо  линейного  пробега  используют  массовый  пробег  заряженной  частицы  R m,  </p>
<p> выражаемый  в граммах  на квадратный  сантиметр  (г/см2). Численно  он равен  массе  вещества ,  </p>
<p> заключенного  в цилиндре , высота  которого  равна  линейному  пробегу  частицы  R в сантиметрах , а  </p>
<p> площадь  поперечного  сечения  - 1 см2 .  </p>
<p> R Rmρ=                          (23)  </p>
<p> где ρ - плотность  вещества  в г/см3.   </p>
<p>  Массовый  пробег  заряженной  частицы  удобен  тем, что он мало  зависит  от состава  вещества .  </p>
<p> Удельная  потеря  энергии  пропорциональна  плотности  атомных  электронов  ne = Nz (N - плотность   </p>
<p> атомов ). Поэтому  линейный  пробег  пропорционален  Nz. По формуле  ⎟⎟ </p>
<p> ⎠⎞ </p>
<p> ⎜⎜ </p>
<p> ⎝⎛=AN N *µρ плотность  вещества   </p>
<p> пропорциональна  произведению  плотности  атомов  на атомную  массу : ρ∼NA. Массовый  пробег   </p>
<p> zA </p>
<p> NzNAR Rm =≈=ρ . Так как отношение  A/Z для многих  веществ  изменяется  мало , то и массовый  пробег   </p>
<p> для этих  веществ  почти  постоянен .   </p>
<p> Для определения  энергии  α-частицы  по ее пробегу  часто  используются  номограммы  типа   </p>
<p> представленной  на Рис.6 )  </p>
<p> Рис.6. Связь  между  энергией  и средним  пробегом  для α- </p>
<p> частицы  в воздухе  при давлении  760 мм рт. ст. и 15 °С  </p>
<p> Измерение  пробега  α-частиц  проводится  на  </p>
<p> экспериментальной  установке , схема  которой   </p>
<p> приведена  на Рис.. На одном  торце  камеры  установлен   </p>
<p> полупроводниковый  детектор , а на другом  находится   </p>
<p> подвижный  шток , на конце  которого  укреплен  источник   </p>
<p> альфа -частиц . Источник  представляет  собой   </p>
<p> подложку  из стали , в углубление  которой  зафиксирован  радиоактивный  препарат . С помощью   </p>
<p> механизма  перемещения  расстояние  между  детектором  и источником  можно  изменять  от 2 до 50 мм.  </p>
<p> Давление  газа в камере  можно  изменять  с помощью  форвакуумного  насоса . Сигнал  с детектора   </p>
<p> подается  сначала  на предусилитель , затем  на формирователь -усилитель , дискриминатор  и пересчетное   </p>
<p> устройство  - частотомер .  </p>
<p> Если  исследовать  прохождение  параллельного  пучка  альфа -частиц  в зависимости  от толщины  газа  </p>
<p> (воздуха ), то оказывается , что число  частиц  N в пучке  остается  приблизительно  постоянным  вплоть  до  </p>
<p> определенного  расстояния , а затем  падает , но падает  не сразу  до нуля , а с некоторым  наклоном  (см.  </p>
<p> Рис.5). Если  эту кривую  продифференцировать  и построить  величину  dN/dx в зависимости  от толщины   </p>
<p> слоя  x, то получится  кривая  2. Эта кривая  имеет  резкий  минимум  при x = R , показывающий , что  </p>
<p> подавляющее  большинство  альфа -частиц  имеет  определенный  пробег  с некоторым  разбросом  в ту и  </p>
<p> другую  сторону . Величина  R называется  средним  пробегом , а разброс  пробега  - страгглинг .  </p>
<p> Рис.7. Схема  экспериментальной  установки  для определения  длины  пробега  α-частиц  в газе  </p>
<p>   </p>
<p>  </p>
<div class="create-line"></div>
<div class="page_num"> 2 </div>
<p> Страгглинг  обусловлен  флуктуациями  ионизационных  потерь . Если  среднее  число  ионов ,  </p>
<p> образуемое  альфа -частицей  при ее движении  равно  Ni, то возможное  отклонение  от этого  числа ,  </p>
<p> согласно  статистическому  закону , равно  Ni. Флуктуация  Ni составляет  доли  процента , тогда  как  </p>
<p> флуктуация  пробега  значительно  больше . Это объясняется  тем, что при прохождении  через  вещество  к  </p>
<p> альфа -частице  могут  примкнуть  один  или два электрона . Таким  образом , на всем  пути  частица  имеет   </p>
<p> разный  заряд , что, естественно , вызывает  дополнительные  флуктуации  в ионизации  и, следовательно , в  </p>
<p> пробеге .  </p>
<p>   </p>
<div class="create-line"></div>
<div class="page_num"> 3 </div>
<style>
.create-line {
	width: 250px;
	border-top: 1px solid #493726;
	margin: 5px;
}
.page_num {
	 font-size: 11px;
	font-color: #616161;
	margin: 3px 3px 30px;
}
</style>
{% endblock %}
