{% extends "base_index.html" %}
{% block content %}
<p> Черный человек — Сергей Есенин   </p>
<p> Друг мой, друг мой,   </p>
<p> Я очень и очень болен.   </p>
<p> Сам не знаю, откуда взялась эта боль.   </p>
<p> То ли ветер свистит   </p>
<p> Над пустым и безлюдным полем,   </p>
<p> То ль, как рощу в сентябрь,   </p>
<p> Осыпает мозги алкоголь.   </p>
<p> Голова моя машет ушами,   </p>
<p> Как крыльями птица.   </p>
<p> Ей на шее ноги   </p>
<p> Маячить больше невмочь.   </p>
<p> Черный человек,   </p>
<p> Черный, черный,   </p>
<p> Черный человек   </p>
<p> На кровать ко мне садится,   </p>
<p> Черный человек   </p>
<p> Спать не дает мне всю ночь.   </p>
<p> Черный человек   </p>
<p> Водит пальцем по мерзкой книге   </p>
<p> И, гнусавя надо мной,   </p>
<p> Как над усопшим монах,   </p>
<p> Читает мне жизнь   </p>
<p> Какого -то прохвоста и забулдыги,   </p>
<p> Нагоняя на душу тоску и страх.   </p>
<p> Черный человек   </p>
<p> Черный, черный...   </p>
<p> "Слушай, слушай, -  </p>
<p> Бормочет он мне, -  </p>
<p> В книге много прекраснейших   </p>
<p> Мыслей и планов.   </p>
<p> Этот человек   </p>
<p> Проживал в стране   </p>
<p> Самых отвратительных   </p>
<p> Громил и шарлатанов.   </p>
<p> В декабре в той стране   </p>
<p> Снег до дьявола чист,   </p>
<p> И метели заводят   </p>
<div class="create-line"></div>
<div class="page_num"> 1 </div>
<p> Веселые прялки.   </p>
<p> Был человек тот авантюрист,   </p>
<p> Но самой высокой   </p>
<p> И лучшей марки.   </p>
<p> Был он изящен,   </p>
<p> К тому ж поэт,   </p>
<p> Хоть с небольшой,   </p>
<p> Но ухватистой силою,   </p>
<p> И какую -то женщину,   </p>
<p> Сорока с лишним лет,   </p>
<p> Называл скверной девочкой   </p>
<p> И своею милою".   </p>
<p> "Счастье, - говорил он, -  </p>
<p> Есть ловкость ума и рук.   </p>
<p> Все неловк ие души   </p>
<p> За несчастных всегда известны.   </p>
<p> Это ничего,   </p>
<p> Что много мук   </p>
<p> Приносят изломанные   </p>
<p> И лживые жесты.   </p>
<p> В грозы, в бури,   </p>
<p> В житейскую стынь,   </p>
<p> При тяжелых утратах   </p>
<p> И когда тебе грустно,   </p>
<p> Казаться улыбчивым и простым -  </p>
<p> Самое высшее в мире искусство".   </p>
<p> "Черный человек!   </p>
<p> Ты не смеешь этого!   </p>
<p> Ты ведь не на службе   </p>
<p> Живешь водолазовой.   </p>
<p> Что мне до жизни   </p>
<p> Скандального поэта.   </p>
<p> Пожалуйста, другим   </p>
<p> Читай и рассказывай".   </p>
<p> Черный человек   </p>
<p> Глядит на меня в упор.   </p>
<p> И глаза покрываются   </p>
<p> Голубой блевотой.   </p>
<p> Словно хочет сказать мне,   </p>
<div class="create-line"></div>
<div class="page_num"> 2 </div>
<p> Что я жулик и вор,   </p>
<p> Так бесстыдно и нагло   </p>
<p> Обокравший кого -то.  </p>
<p> . . . . . . . . . . .   </p>
<p> . . . . . . . . . . .   </p>
<p> Друг мой, друг мой,   </p>
<p> Я очень и очень болен.   </p>
<p> Сам не знаю, откуда взялась эта боль.   </p>
<p> То ли ветер свистит   </p>
<p> Над пустым и безлюдным полем,   </p>
<p> То ль, как рощу в сентябрь,   </p>
<p> Осыпает мозги алкоголь.   </p>
<p> Ночь морозная...   </p>
<p> Тих покой перекрестка.   </p>
<p> Я один у окошка,   </p>
<p> Ни гостя, ни друга не жду.   </p>
<p> Вся равнина покрыта   </p>
<p> Сыпучей и мягкой известкой,   </p>
<p> И деревья, как всадники,   </p>
<p> Съехались в нашем саду.   </p>
<p> Где-то плачет   </p>
<p> Ночная зловещая птица.   </p>
<p> Деревянные всадники   </p>
<p> Сеют копытливый стук.   </p>
<p> Вот опять этот черный   </p>
<p> На кресло мое садится,   </p>
<p> Приподняв свой цилиндр   </p>
<p> И откинув небрежно сюртук.   </p>
<p> "Слушай, слушай! -  </p>
<p> Хрипит он, смотря мне в лицо,   </p>
<p> Сам все ближе   </p>
<p> И ближе клонится. -  </p>
<p> Я не видел, чтоб кто -нибудь   </p>
<p> Из подлецов   </p>
<p> Так ненужно и глупо   </p>
<p> Страдал бессонницей.   </p>
<p> Ах, положим, ошибся!   </p>
<p> Ведь нынче луна.   </p>
<p> Что же нужно еще   </p>
<div class="create-line"></div>
<div class="page_num"> 3 </div>
<p> Напоенному дремой мирику?   </p>
<p> Может, с толстыми ляжками   </p>
<p> Тайно придет "она",   </p>
<p> И ты будешь читать   </p>
<p> Свою дохлую томную лирику?   </p>
<p> Ах, люблю я поэтов!   </p>
<p> Забавный народ.   </p>
<p> В них всегда нахожу я   </p>
<p> Историю, сердцу знакомую,   </p>
<p> Как прыщавой курсистке   </p>
<p> Длинноволосый урод   </p>
<p> Говорит о мирах,   </p>
<p> Половой истекая истомою.   </p>
<p> Не знаю, не помню,   </p>
<p> В одном селе,   </p>
<p> Может, в Калуге,   </p>
<p> А может, в Рязани,   </p>
<p> Жил мальчик   </p>
<p> В простой крестьянской семье,   </p>
<p> Желтоволосый,   </p>
<p> С голубыми глазами...   </p>
<p> И вот стал он взрослым,   </p>
<p> К тому ж поэт,   </p>
<p> Хоть с небольшой,   </p>
<p> Но ухватистой силою,   </p>
<p> И какую -то женщину,   </p>
<p> Сорока с лишним лет,   </p>
<p> Называл скверной девочкой   </p>
<p> И своею милою".   </p>
<p> "Черный человек!   </p>
<p> Ты прескверный гость!   </p>
<p> Это слав а давно   </p>
<p> Про тебя разносится".   </p>
<p> Я взбешен, разъярен,   </p>
<p> И летит моя трость   </p>
<p> Прямо к морде его,   </p>
<p> В переносицу...   </p>
<p> . . . . . . . . . .   </p>
<p> ...Месяц умер,   </p>
<div class="create-line"></div>
<div class="page_num"> 4 </div>
<p> Синеет в окошко рассвет.   </p>
<p> Ах ты, ночь!   </p>
<p> Что ты, ночь, наковеркала?   </p>
<p> Я в цилиндре стою.   </p>
<p> Никого со мной нет.   </p>
<p> Я один...   </p>
<p> И - разбитое зеркало...   </p>
<p>   </p>
<div class="create-line"></div>
<div class="page_num"> 5 </div>

<style>
.create-line {
	width: 250px;
	border-top: 1px solid #493726;
	margin: 5px;
}

.page_num {
	font-size: 11px;
	font-color: #616161;
	margin: 3px 3px 30px;
}

p {
	font-size: 23px;
	color: black;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

</style>
{% endblock %}